<!DOCTYPE html>
<html>
<head>
	<title>Filtros em Vue.js</title>
	<link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>	

	<div id="app">
		<div class="filters">
			<form>
				<div class="cores">
					<h3>Cores</h3>
					<ul>
						<li>
							<input type="checkbox" name="cor" value="red" id="vermelho" v-on:change="filter">
							<label for="vermelho">vermelho</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="blue" id="azul" v-on:change="filter">
							<label for="azul">azul</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="green" id="verde" v-on:change="filter">
							<label for="verde">verde</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="violet" id="violeta" v-on:change="filter">
							<label for="violeta">violeta</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="yellow" id="amarelo" v-on:change="filter">
							<label for="amarelo">amarelo</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="orange" id="laranja" v-on:change="filter">
							<label for="laranja">laranja</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="brown" id="marrom" v-on:change="filter">
							<label for="marrom">marrom</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="white" id="branco" v-on:change="filter">
							<label for="branco">branco</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="black" id="preto" v-on:change="filter">
							<label for="preto">preto</label>
						</li>
						<li>
							<input type="checkbox" name="cor" value="gray" id="cinza" v-on:change="filter">
							<label for="cinza">cinza</label>
						</li>
					</ul>
				</div>


				<div class="tamanhos">
					<h3>Tamanhos</h3>

					<ul>
						<li>
							<input type="checkbox" name="tamanho" value="PP" id="PP" v-on:change="filter">
							<label for="PP">PP</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="P" id="P" v-on:change="filter">
							<label for="P">P</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="M" id="M" v-on:change="filter">
							<label for="M">M</label>
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="G" id="G" v-on:change="filter">
							<label for="G">G</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="GGG" id="GGG" v-on:change="filter">
							<label for="GGG">GGG</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="36" id="36" v-on:change="filter">
							<label for="36">36</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="37" id="37" v-on:change="filter">
							<label for="37">37</label>	
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="38" id="38" v-on:change="filter">
							<label for="38">38</label>
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="39" id="39" v-on:change="filter">
							<label for="39">39</label>
						</li>
						<li>
							<input type="checkbox" name="tamanho" value="Un" id="Un" v-on:change="filter">
							<label for="Un">Un</label>
						</li>
					</ul>
				</div>

				<div class="voltagens">
					<h3>Voltagens</h3>

					<ul>
						<li>
							<input type="checkbox" name="voltagem" value="110" id="110" v-on:change="filter">
							<label for="110">110</label>	
						</li>
						<li>
							<input type="checkbox" name="voltagem" value="220" id="220" v-on:change="filter">
							<label for="220">220</label>	
						</li>
						<li>
							<input type="checkbox" name="voltagem" value="bivolt" id="bivolt" v-on:change="filter">
							<label for="bivolt">bivolt</label>	
						</li>
					</ul>
	
				</div>
				<a v-on:click="clear">Limpar</a>
			</form>
		</div>

		<div class="product-wrap">
			<div class="product-item" v-for="product in filteredList">
				<figure class="product-image">
					<img v-bind:src="product.imagem">
				</figure>
				<h2 class="product-name">{{ product.nome }}</h2>
				<h3 class="product-price">R$ {{ product.preco.toFixed(2) }}</h3>
				<div class="attribute-box">
					<label class="product-color" v-for="cores in product.cor" v-bind:style="{ backgroundColor: cores }"></label>
				</div>
				<!-- <h4 >{{ product.cor }}</h4>  -->				
				<div class="attribute-box">
					<label class="product-size" v-for="tamanhos in product.tamanho">{{ tamanhos }}</label>
				</div>
				<!-- <h4>{{ product.tamanho }}</h4> -->
				<!-- <h4>{{ product.voltagem }}</h4> -->
				<div class="attribute-box">
					<label class="product-voltage" v-for="voltagens in product.voltagem">{{ voltagens }}</label>
				</div>
			</div>
		</div>

	</div>

	<script src="assets/js/vendor/vue.js"></script>
	<script src="assets/js/app.js"></script>

	<script>
	    WebFontConfig = {
	       google: {
	         families: ['Montserrat:300,400,500,700']
	       }
	    };

	    (function(d) {
	       var wf = d.createElement('script'), s = d.scripts[0];
	       wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
	       wf.async = true;
	       s.parentNode.insertBefore(wf, s);
	    })(document);
	</script>

</body>
</html>